<!DOCTYPE html>
<html>
<head>
        <title>{% block title %}Memes{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block headComponents %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
            <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
            <link rel="stylesheet" href="{{ asset('bundles/memes/bootstrap/bootstrap.css') }}">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="{{ asset('bundles/memes/js/scripts.js') }}"></script>
            <link rel="stylesheet" href="{{ asset('bundles/memes/css/res.css') }}" >
        {% endblock %}
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

</head>
<body>
        {% block navbar %}
            <div class="container-fluid bg-dark">
                <div class="container">
                    <nav class="navbar navbar-light navbar-collapse navbar-expand-lg">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbar">
                            <div class="navbar-nav">
                            <a class="navbar-brand text-white text-uppercase h1" href="{{ path('index') }}">Memes</a>
                            <a class="nav-item nav-link mx-2 text-white px-3 hv" href="{{ path('top') }}">Top</a>
                            <a class="nav-item nav-link mx-2 text-white px-3 hv" href="{{ path('memes') }}">Memes</a>
                                <a class="nav-item nav-link mx-2 text-white px-3 hv" href="{{ path('videos') }}">Videos</a>
                            <a class="nav-item nav-link mx-2 text-white px-3 hv" href="{{ path('phrases') }}">Phrases</a>
                            {% if app.user %}
                                <a class="nav-item nav-link btn btn-info h1 mx-3" href="">Profile</a>
                                <a class="nav-item nav-link btn btn-danger h1 mx-3" href="">Logout</a>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a class="nav-item nav-link btn btn-warning h1 mx-3" href="">Admin panel</a>

                                {% endif %}
                            {% else %}

                                    <a class="nav-item nav-link btn btn-danger h1 mr-1 text-white" href="{{ path('addNew') }}">Add new mem</a>
                                    <a class="nav-item nav-link btn btn-danger h1 mr-1 text-white" href="{{ path('add-phrase') }}">Add new pharse</a>
                            {% endif %}

                        </div>
                    </div>
                </nav>
            </div>
        </div>
        {% endblock %}

        {% block messages %}

            <div class="container">
                    {% if SuccessMessages is defined and SuccessMessages is not null %}
                        <div class="alert alert-success mt-5 mb-5">{{ SuccessMessages[0] }}</div>
                    {% endif %}
            </div>

        {% endblock %}

        {% block topAd %}
            <div class="container-fluid p-5 text-center text-white">
                {#<h4>Top ad</h4>#}
            </div>
        {% endblock %}

        {% block content %}


        <div class="container ">
            {% for mem in memes %}

                {% if mem.type == "video" %}

                    <div class="container mb-5">
                        <a href="{{ path('single', {'slug': mem.slug}) }}">
                            <div class="card soloCard col-md-8 black">
                                <p class="h3 text-uppercase text-center mb-0 text-white">{{ mem.title }}</p>
                                <div class="embed-responsive embed-responsive-21by9">
                                    <video class="embed-responsive embed-responsive-21by9" controls>
                                        <source src="{{ asset('bundles/memes/uploads/'~mem.image) }}">
                                    </video>

                                </div>
                            </div>
                        </a>
                        <div class="container">
                            <div class="btn-group rounded">
                                <button id="positive" onclick="ratePositive('{{ path('rate-positive') }}','{{ mem.slug }}',this)" value="{{ mem.slug }}" class="btn btn-danger"><i class="fas fa-thumbs-up m-1"></i></button>
                                <button id="counter" class="mr-1">{{ mem.ratePositive is null ? 0 : mem.ratePositive }}</button>
                            </div>
                            <div class="btn-group">
                                <button id="negative" onclick="rateNegative('{{ path('rate-negative') }}','{{ mem.slug }}',this)" value="{{ mem.slug }}" class="btn btn-info"><i class="fas fa-thumbs-down m-1"></i></button>
                                <button id="counter">{{ mem.rateNegative is null ? 0 : mem.rateNegative }}</button>
                            </div>
                            <p class="text-white">{{ mem.date|date("d/m/Y") }}</p>
                        </div>
                    </div>

                {% endif %}
                {% if mem.type == 'mem' %}
                <div class="container mb-5">
                    <a href="{{ path('single', {'slug': mem.slug}) }}">
                    <div class="card soloCard col-md-10 black">
                        <p class="h3 text-uppercase text-center mb-0 text-white">{{ mem.title }}</p>
                        <div class="card-body">
                            <img class="card-img-top rounded" src="{{ asset('bundles/memes/uploads/'~mem.image) }}">
                        </div>

                    </div>
                    </a>
                    <div class="container">
                        <div class="btn-group rounded">
                            <button id="positive" onclick="ratePositive('{{ path('rate-positive') }}','{{ mem.slug }}',this)" value="{{ mem.slug }}" class="btn btn-danger"><i class="fas fa-thumbs-up m-1"></i></button>
                            <button id="counter" class="mr-1">{{ mem.ratePositive is null ? 0 : mem.ratePositive }}</button>
                        </div>
                        <div class="btn-group">
                            <button id="negative" onclick="rateNegative('{{ path('rate-negative') }}','{{ mem.slug }}',this)" value="{{ mem.slug }}" class="btn btn-info"><i class="fas fa-thumbs-down m-1"></i></button>
                            <button id="counter">{{ mem.rateNegative is null ? 0 : mem.rateNegative }}</button>
                        </div>
                        <p class="text-white">{{ mem.date|date("d/m/Y") }}</p>
                    </div>
                </div>
                {% endif %}
                {% if mem.type == 'phrase' %}
                    <div class="container">
                        <div class="container">
                            <a class="text-dark" href="{{ path('single', {'slug': mem.slug}) }}">
                                {{ mem.phraseText|raw }}
                            </a>
                            <div class="container">
                                <div class="btn-group rounded">
                                    <button id="positive" onclick="ratePositive('{{ path('rate-positive') }}','{{ mem.slug }}',this)" value="{{ mem.slug }}" class="btn btn-danger"><i class="fas fa-thumbs-up m-1"></i></button>
                                    <button id="counter" class="mr-1">{{ mem.ratePositive is null ? 0 : mem.ratePositive }}</button>
                                </div>
                                <div class="btn-group">
                                    <button id="negative" onclick="rateNegative('{{ path('rate-negative') }}','{{ mem.slug }}',this)" value="{{ mem.slug }}" class="btn btn-info"><i class="fas fa-thumbs-down m-1"></i></button>
                                    <button id="counter">{{ mem.rateNegative is null ? 0 : mem.rateNegative }}</button>
                                </div>
                                <p class="text-white">{{ mem.date|date("d/m/Y") }}</p>
                            </div>
                        </div>
                        <hr>
                    </div>

                {% endif %}
            {% endfor %}
            {% block elements %}


            {% endblock %}

        </div>
        {% endblock %}

        {% block pages %}

        <div class="container mb-5">
            <div class="btn-group" role="group" aria-label="pagination">

                {{ knp_pagination_render(memes) }}
            </div>
        </div>
        {% endblock %}

        {% block footer %}
        <footer>
            <div class="container-fluid bg-dark p-2 ">
                <p class="text-center text-white">MEMES 2018 &copy; All rights reserved</p>
            </div>
        </footer>
        {% endblock %}


        <script>

            $("video").prop("volume", 0.1);

            function ratePositive(path,slug,a) {
                $.post(path,{val:slug},function () {
                    var val = $(a).next('#counter').text();
                    $(a).next("#counter").text(parseInt(val) + 1);
                    $(a).addClass('disabled btn-static')
                })

            }

            function rateNegative(path,slug,a) {
                $.post(path,{val:slug},function () {
                    var current = $('this #counter').val();
                    var val = $(a).next('#counter').text();
                    $(a).next("#counter").text(parseInt(val) + 1);
                    $(a).addClass('disabled btn-static')
                })
            }
        </script>

</body>
</html>