{% extends "Base/Base.html.twig" %}
{% block title %}Memes - Top {% endblock %}
{% block content %}

    {% for mem in memes %}
        <div class="container">
        {% for mem in memes %}
            {% if mem.type == 'mem' %}
                <div class="container mb-5">
                    <a href="{{ path('single', {'slug': mem.slug}) }}">
                        <div class="card soloCard col-md-10 black">
                            <p class="h3 text-uppercase text-center mb-0 text-white">{{ mem.title }}</p>
                            <div class="card-body">
                                <img class="card-img-top rounded" src="{{ asset('bundles/memes/uploads/'~mem.image) }}">
                            </div>

                        </div>
                    </a>
                    <div class="container">
                        <div class="btn-group rounded">
                            <button id="positive" onclick="ratePositive('{{ path('rate-positive') }}','{{ mem.slug }}',this)" value="{{ mem.slug }}" class="btn btn-danger"><i class="fas fa-thumbs-up m-1"></i></button>
                            <button id="counter" class="mr-1">{{ mem.ratePositive is null ? 0 : mem.ratePositive }}</button>
                        </div>
                        <div class="btn-group">
                            <button id="negative" onclick="rateNegative('{{ path('rate-negative') }}','{{ mem.slug }}',this)" value="{{ mem.slug }}" class="btn btn-info"><i class="fas fa-thumbs-down m-1"></i></button>
                            <button id="counter">{{ mem.rateNegative is null ? 0 : mem.rateNegative }}</button>
                        </div>
                        <p class="text-white">{{ mem.date|date("d/m/Y") }}</p>
                    </div>
                </div>
            {% endif %}
            {% if mem.type == 'phrase' %}
                {% dump mem %}
                <div class="container">
                    <div class="container">
                        <a class="text-dark" href="{{ path('single', {'slug': mem.slug}) }}">
                            {{ mem.phraseText|raw }}
                        </a>
                        <div class="container">
                            <div class="btn-group rounded">
                                <button id="positive" onclick="ratePositive('{{ path('rate-positive') }}','{{ mem.slug }}',this)" value="{{ mem.slug }}" class="btn btn-danger"><i class="fas fa-thumbs-up m-1"></i></button>
                                <button id="counter" class="mr-1">{{ mem.ratePositive is null ? 0 : mem.ratePositive }}</button>
                            </div>
                            <div class="btn-group">
                                <button id="negative" onclick="rateNegative('{{ path('rate-negative') }}','{{ mem.slug }}',this)" value="{{ mem.slug }}" class="btn btn-info"><i class="fas fa-thumbs-down m-1"></i></button>
                                <button id="counter">{{ mem.rateNegative is null ? 0 : mem.rateNegative }}</button>
                            </div>
                            <p class="text-white">{{ mem.date|date("d/m/Y") }}</p>
                        </div>
                    </div>
                    <hr>
                </div>

            {% endif %}
        {% endfor %}
    {% endfor %}



{% endblock %}