{% extends "Base/Base.html.twig" %}
{% block title %}Memes  {{ view.title is not null ? '-'~view.title : '' }}{% endblock %}
{% block content %}

    {% if view is defined and view is not null %}

        {% if view.type == 'phrase' %}

            <div class="container">

                <p class="text-white">{{ view.author }}</p>
                {{ view.phraseText|raw }}

                <div class="container">
                    <div class="btn-group rounded">
                        <button id="positive" onclick="" value="{{ view.slug }}" class="btn btn-danger"><i class="fas fa-thumbs-up m-1"></i></button>
                        <button class="mr-1">{{ view.ratePositive is null ? 0 : view.ratePositive }}</button>
                    </div>
                    <div class="btn-group">
                        <button id="negative" value="{{ view.slug }}" class="btn btn-info"><i class="fas fa-thumbs-down m-1"></i></button>
                        <button>{{ view.rateNegative is null ? 0 : view.rateNegative }}</button>
                    </div>
                    <p class="text-white">{{ view.date|date("d/m/Y") }}</p>
                </div>

                <div id="alerts"></div>
                <div class="container">
                    <p class="text-white">Join to discussion</p>
                    <form id="form" action="{{ path('add-comment') }}" method="post" class="form-group">
                        <input type="hidden" id="slug" name="slug" value="{{ view.slug }}" >
                        <textarea name="comment" id="comment" cols="50" rows="3" class="form-control"></textarea>
                        <label for="author" class="text-white mt-1">Nickname:</label>
                        <input id="author" type="text" name="author" class="form-control w-25">
                        <input type="button" id="submit" name="submit" class="btn btn-primary mt-2" value="Comment" >
                    </form>
                </div>
                <hr>

                <div id="content-comments">
                    <div id="append"></div>
                    {% for comment in view.comments %}
                        <div id="comments" class="container text-white">
                            <div class="media-body">
                                <h5>{{ comment.author }}</h5>
                                <p>{{ comment.content }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>

        {% endif %}

        {% if view.type == 'mem' %}

            <div class="container">

                <div class="container mb-5">
                    <p class="text-white">{{ view.author }}</p>
                    <div class="card soloCard col-md-8 black">
                        <p class="h3 text-uppercase text-center mb-0 text-white">{{ view.title }}</p>
                        <div class="card-body">
                            <img class="card-img-top rounded" src="{{ asset('bundles/memes/uploads/'~view.image) }}">
                        </div>
                    </div>
                    <div class="container">
                        <div class="btn-group rounded">
                            <button id="positive" onclick="ratePositive('{{ path('rate-positive') }}','{{ view.slug }}',this)" value="{{ view.slug }}" class="btn btn-danger"><i class="fas fa-thumbs-up m-1"></i></button>
                            <button id="counter" class="mr-1">{{ view.ratePositive is null ? 0 : view.ratePositive }}</button>
                        </div>
                        <div class="btn-group">
                            <button id="negative" onclick="rateNegative('{{ path('rate-negative') }}','{{ view.slug }}',this)" value="{{ view.slug }}" class="btn btn-info"><i class="fas fa-thumbs-down m-1"></i></button>
                            <button id="counter">{{ view.rateNegative is null ? 0 : view.rateNegative }}</button>
                        </div>
                        <p class="text-white">{{ view.date|date("d/m/Y") }}</p>
                    </div>
                </div>

                <div class="container">
                    <p class="text-white">Join to discussion</p>
                    <div id="alerts"></div>
                    <form id="form" action="{{ path('add-comment') }}" method="post" class="form-group">
                        <input type="hidden" name="slug" id="slug" value="{{ view.slug }}" >
                        <textarea name="comment" id="comment" cols="50" rows="3" class="form-control"></textarea>
                        <label for="author" class="text-white mt-1">Nickname:</label>
                        <input id="author"  type="text" name="author" class="form-control w-25">
                        <input type="button" id="submit" class="btn btn-primary mt-2 " value="Comment" >
                    </form>
                </div>

                <hr>
                <div id="content-comments">
                    <div id="append"></div>
                    {% for comment in view.comments %}
                        <div id="comments" class="container text-white">
                            <div class="media-body">
                                <h5>{{ comment.author }}</h5>
                                <p>{{ comment.content }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>


            </div>

        {% endif %}

    {% endif %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script>

        $('#submit').on('click',function () {
            var comment = $('#comment').val();
            var author = $('#author').val();
            var slug = $('#slug').val();
            if(comment < 2){
                $("#alerts").empty();
                $("#alerts").append("<div class='alert alert-danger'>Add some text dude</div>");
            }
            else if(author < 2){
                $("#alerts").empty();
                $("#alerts").append("<div class='alert alert-danger'>Add your nickname dude</div>");
            }else{

                var string = "comment=" + comment + '&author=' + author + "&slug=" + slug;

                $.post('{{ path('add-comment') }}',{val: [comment,author,slug]}, function (response) {
                    if (response){
                        $("#append").append('<div id="comments" class="container text-white">\n' +
                            '                        <div class="media-body">\n' +
                            '                            <h5>'+author+'</h5>\n' +
                            '                            <p>'+comment+'</p>\n' +
                            '                        </div>\n' +
                            '                    </div>').show('slow');
                        $(comment).empty();
                        $(author).empty();
                    }
                },"json");
            }
        })

    </script>


{% endblock %}

{% block pages %}
{% endblock %}
{% block footer %}
{% endblock %}