{% extends "Base/Base.html.twig" %}
{% block title %}Memes  {{ view.title is not null ? '-'~view.title : '' }}{% endblock %}
{% block content %}

    {% if view is defined and view is not null %}

        {% if view.type == "video" %}

            <div class="container mb-5">
                <a href="{{ path('single', {'slug': view.slug}) }}">
                    <div class="card soloCard col-md-8 black">
                        <p class="h3 text-uppercase text-center mb-0 text-white">{{ view.title }}</p>
                        <div class="embed-responsive embed-responsive-21by9">
                            <video class="embed-responsive embed-responsive-21by9"  controls>
                                <source src="{{ asset('bundles/memes/uploads/'~view.image) }}">
                            </video>
                        </div>
                    </div>
                </a>
                <div class="container">
                    <div class="btn-group rounded">
                        <button id="positive" onclick="ratePositive('{{ path('rate-positive') }}','{{ view.slug }}',this)" value="{{ view.slug }}" class="btn btn-danger"><i class="fas fa-thumbs-up m-1"></i></button>
                        <button id="counter" class="mr-1">{{ view.ratePositive is null ? 0 : view.ratePositive }}</button>
                    </div>
                    <div class="btn-group">
                        <button id="negative" onclick="rateNegative('{{ path('rate-negative') }}','{{ view.slug }}',this)" value="{{ view.slug }}" class="btn btn-info"><i class="fas fa-thumbs-down m-1"></i></button>
                        <button id="counter">{{ view.rateNegative is null ? 0 : view.rateNegative }}</button>
                    </div>
                    <p class="text-white">{{ view.date|date("d/m/Y") }}</p>
                </div>
                <div id="alerts"></div>
                <div class="container">
                    <p class="text-white">Join to discussion</p>
                    <form id="form" action="{{ path('add-comment') }}" method="post" class="form-group">
                        <input type="hidden" id="slug" name="slug" value="{{ view.slug }}" >
                        <label class="text-white" for="comment">Comment</label>
                        <textarea name="comment" id="comment" cols="50" rows="3" class="form-control"></textarea>
                        <label for="author" class="text-white mt-1">Nickname:</label>
                        <input id="author" type="text" name="author" class="form-control w-25">
                        <label for="file" class="text-white mt-1">File:</label>
                        <input id="file" class="form-control w-25" type="file">
                        <input type="button" id="submit" name="submit" class="btn btn-primary mt-3" value="Comment" >
                    </form>
                </div>
                <hr>

                <div id="content-comments">
                    <div id="append"></div>
                    {% for comment in view.comments %}
                        <div id="comments" class="container text-white mt-3">
                            <div class="media-body">
                                <h5>{{ comment.author }}</h5>
                                <p class="ml-5">{{ comment.content }}</p>
                                {% if(comment.type == "mem") %}
                                    <img class="w-50 ml-5 mb-3" src="{{  asset('bundles/memes/uploads/'~comment.media) }}">
                                {% endif %}
                                {% if(comment.type == "video") %}
                                    <div class=" w-50 ml-5 mb-3 embed-responsive embed-responsive-21by9">
                                        <video class="embed-responsive embed-responsive-21by9"  controls>
                                            <source src="{{ asset('bundles/memes/uploads/'~comment.media) }}">
                                        </video>

                                    </div>
                                {% endif %}

                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

        {% endif %}


        {% if view.type == 'phrase' %}

            <div class="container">

                <p class="text-white">{{ view.author }}</p>
                {{ view.phraseText|raw }}

                <div class="container">
                    <div class="btn-group rounded">
                        <button id="positive" onclick="ratePositive('{{ path('rate-positive') }}','{{ view.slug }}',this)" value="{{ view.slug }}" class="btn btn-danger"><i class="fas fa-thumbs-up m-1"></i></button>
                        <button id="counter" class="mr-1">{{ view.ratePositive is null ? 0 : view.ratePositive }}</button>
                    </div>
                    <div class="btn-group">
                        <button id="negative" onclick="rateNegative('{{ path('rate-negative') }}','{{ view.slug }}',this)" value="{{ view.slug }}" class="btn btn-info"><i class="fas fa-thumbs-down m-1"></i></button>
                        <button id="counter">{{ view.rateNegative is null ? 0 : view.rateNegative }}</button>
                    </div>
                    <p class="text-white">{{ view.date|date("d/m/Y") }}</p>
                </div>

                <div id="alerts"></div>
                <div class="container">
                    <p class="text-white">Join to discussion</p>
                    <form id="form" action="{{ path('add-comment') }}" method="post" enctype="multipart/form-data" class="form-group">
                        <input type="hidden" id="slug" name="slug" value="{{ view.slug }}" >
                        <label class="text-white" for="comment">Comment</label>
                        <textarea name="comment" id="comment" cols="50" rows="3" class="form-control"></textarea>
                        <label for="author" class="text-white mt-1">Nickname:</label>
                        <input id="author" type="text" name="author" class="form-control w-25">
                       <label for="file" class="text-white mt-1">File:</label>
                        <input id="file" class="form-control w-25" type="file">
                        <div id="progress-wrp" class="progress-bar mt-3 w-25 d-none">
                            <div class="progress-bar"></div>
                            <div class="status">0%</div>
                        </div>
                        <input type="button" id="submit" name="submit" class="btn btn-primary mt-3" value="Comment" >
                    </form>
                </div>
                <hr>

                <div id="content-comments">
                    <div id="append"></div>
                    {% for comment in view.comments %}
                        <div id="comments" class="container text-white mt-3">
                            <div class="media-body">
                                <h5>{{ comment.author }}</h5>
                                <p class="ml-5">{{ comment.content }}</p>
                                {% if(comment.type == "mem") %}
                                    <img class="w-50 ml-5 mb-3" src="{{  asset('bundles/memes/uploads/'~comment.media) }}">
                                {% endif %}
                                {% if(comment.type == "video") %}
                                    <div class=" w-50 ml-5 mb-3 embed-responsive embed-responsive-21by9">
                                        <video class="embed-responsive embed-responsive-21by9"  controls>
                                            <source src="{{ asset('bundles/memes/uploads/'~comment.media) }}">
                                        </video>
                                    </div>
                                {% endif %}

                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>

        {% endif %}

        {% if view.type == 'mem' %}

            <div class="container">

                <div class="container mb-5">
                    <p class="text-white">{{ view.author }}</p>
                    <div class="card soloCard col-md-10 black">
                        <p class="h3 text-uppercase text-center mb-0 text-white">{{ view.title }}</p>
                        <div class="card-body">
                            <img class="card-img-top rounded" src="{{ asset('bundles/memes/uploads/'~view.image) }}">
                        </div>
                    </div>
                    <div class="container">
                        <div class="btn-group rounded">
                            <button id="positive" onclick="ratePositive('{{ path('rate-positive') }}','{{ view.slug }}',this)" value="{{ view.slug }}" class="btn btn-danger"><i class="fas fa-thumbs-up m-1"></i></button>
                            <button id="counter" class="mr-1">{{ view.ratePositive is null ? 0 : view.ratePositive }}</button>
                        </div>
                        <div class="btn-group">
                            <button id="negative" onclick="rateNegative('{{ path('rate-negative') }}','{{ view.slug }}',this)" value="{{ view.slug }}" class="btn btn-info"><i class="fas fa-thumbs-down m-1"></i></button>
                            <button id="counter">{{ view.rateNegative is null ? 0 : view.rateNegative }}</button>
                        </div>
                        <p class="text-white">{{ view.date|date("d/m/Y") }}</p>
                    </div>
                </div>

                <div class="container">
                    <p class="text-white">Join to discussion</p>
                    <div id="alerts"></div>
                    <form id="form" action="{{ path('add-comment') }}" method="post" class="form-group">
                        <input type="hidden" name="slug" id="slug" value="{{ view.slug }}" >
                        <label class="text-white" for="comment">Comment</label>
                        <textarea name="comment" id="comment" cols="50" rows="3" class="form-control"></textarea>
                        <label for="author" class="text-white mt-1">Nickname:</label>
                        <input id="author"  type="text" name="author" class="form-control w-25">
                        <input type="button" id="submit" class="btn btn-primary mt-2 " value="Comment" >
                    </form>
                </div>

                <hr>
                <div id="content-comments">
                    <div id="append"></div>
                    {% for comment in view.comments %}
                        <div id="comments" class="container text-white mt-3">
                            <div class="media-body">
                                <h5>{{ comment.author }}</h5>
                                <p class="ml-5">{{ comment.content }}</p>
                                {% if(comment.type == "mem") %}
                                    <img class="w-50 ml-5 mb-3" src="{{  asset('bundles/memes/uploads/'~comment.media) }}">
                                {% endif %}
                                {% if(comment.type == "video") %}
                                    <div class=" w-50 ml-5 mb-3 embed-responsive embed-responsive-21by9">
                                        <video class="embed-responsive embed-responsive-21by9"  controls>
                                            <source src="{{ asset('bundles/memes/uploads/'~comment.media) }}">
                                        </video>

                                    </div>
                                {% endif %}

                            </div>
                        </div>
                    {% endfor %}
                </div>


            </div>

        {% endif %}

    {% endif %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script>

        var Upload = function (file,comment,author,slug) {
            this.file = file;
            this.comment = comment;
            this.author = author;
            this.slug = slug;
        };

        Upload.prototype.getType = function() {
            return this.file.type;
        };
        Upload.prototype.getSize = function() {
            return this.file.size;
        };
        Upload.prototype.getName = function() {
            return this.file.name;
        };
        Upload.prototype.doUpload = function () {
            var that = this;
            var formData = new FormData();

            // add assoc key values, this will be posts values
            formData.append("file", this.file, this.getName());
            formData.append("upload_file", true);
            formData.append("comment",this.comment);
            formData.append('author',this.author);
            formData.append('slug',this.slug);
            $.ajax({
                type: "POST",
                url: "{{ path('add-comment') }}",
                xhr: function () {
                    var myXhr = $.ajaxSettings.xhr();
                    if (myXhr.upload) {
                        myXhr.upload.addEventListener('progress', that.progressHandling, false);
                    }
                    return myXhr;
                },
                success: function (data) {
                    console.log(data);

                    if (data['type'] == "mem"){
                        $("#append").append('<div id="comments" class="container text-white"><div class="media-body"><h5>'+ data['author'] +'</h5><p>' + data['comment'] + '</p><img class="w-50 ml-5 mb-3" src="../../../web/bundles/memes/uploads/'+ data['media'] +'" ></div></div>').show('slow');
                        $("#comment").empty();
                        $("#author").empty();
                    }

                    if(data['type'] == "video"){
                        $("#append").append('<div id="comments" class="container text-white"><div class="media-body"><h5>'+ data['author'] +'</h5><p>' + data['comment'] + '</p><div class="w-50 ml-5 mb-3 embed-responsive embed-responsive-21by9"><video class="embed-responsive embed-responsive-21by9" controls><source src="../../../web/bundles/memes/uploads/'+ data['media'] +'" ></video></div></div>').show('slow');
                        $("#comment").empty();
                        $("#author").empty();
                    }
                },
                error: function (error) {
                    console.log(error);
                    $("#alerts").empty();
                    $("#alerts").append("<div class='alert alert-danger'>We can't add this file</div>");
                },
                async: true,
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                timeout: 60000
            });
        };

        Upload.prototype.progressHandling = function (event) {
            var percent = 0;
            var position = event.loaded || event.position;
            var total = event.total;
            var progress_bar_id = "#progress-wrp";
            if (event.lengthComputable) {
                percent = Math.ceil(position / total * 100);
            }
            // update progressbars classes so it fits your code
            $(progress_bar_id + " .progress-bar").css("width", +percent + "%");
            $(progress_bar_id + " .status").text(percent + "%");
        };



        $('#submit').on('click',function () {
            var comment = $('#comment').val();
            var author = $('#author').val();
            var slug = $('#slug').val();
            var file = document.getElementById('file').files[0];
            console.log(file);
            if(!file){
                // if upload file isn't set
                if(comment < 2){
                    $("#alerts").empty();
                    $("#alerts").append("<div class='alert alert-danger'>Add some text dude</div>");
                }
                else if(author < 2){
                    $("#alerts").empty();
                    $("#alerts").append("<div class='alert alert-danger'>Add your nickname dude</div>");
                }else{

                    var string = "comment=" + comment + '&author=' + author + "&slug=" + slug;

                    $.post('{{ path('add-comment') }}',{val: [comment,author,slug]}, function (response) {
                        if (response){
                            $("#append").append('<div id="comments" class="container text-white">\n' +
                                '                        <div class="media-body">\n' +
                                '                            <h5>'+author+'</h5>\n' +
                                '                            <p>'+comment+'</p>\n' +
                                '                        </div>\n' +
                                '                    </div>').show('slow');
                            $(comment).empty();
                            $(author).empty();
                        }
                    },"json");
                }
            }else{

                // if upload file is set
                //Change id to your id
//                $("#file").on("change", function (e) {
                    var file = document.getElementById('file').files[0];
                    var upload = new Upload(file,comment,author,slug);
                    // maby check size or type here with upload.getSize() and upload.getType()
                    upload.doUpload();
//                });

            }

        })

    </script>


{% endblock %}

{% block pages %}
{% endblock %}
{% block footer %}
{% endblock %}